.node {
    cursor: pointer;
}

.link {
    stroke: #999;
    stroke-opacity: 0.8;
    stroke-width: 3px;
    cursor: pointer;
}

.arrow {
    fill: #999;
}

.label {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    font-weight: 500;
    dominant-baseline: middle;
    fill: #e20000;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.selected {
    stroke: #ff0000;
    stroke-width: 2px;
}

.input {
    width: 120px;
}

.button,
.input {
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 2px;
    padding: 0px 4px 0px 4px;
}
